@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SicemOperation</title>

    <!-- Bootstrap CSS -->
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">*@
    @*<link href="/vendor/fonts/circular-std/style.css" rel="stylesheet">*@
    @*<link rel="stylesheet" href="/css/style.css">*@
    @*<link rel="stylesheet" href="/vendor/fonts/fontawesome/css/fontawesome-all.css"> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/SicemOperation.styles.css" asp-append-version="true" /> *@


    <!-- inject:css-->
    <link rel="stylesheet" href="/assets/vendor_assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendor_assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/vendor_assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/assets/vendor_assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendor_assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/hexadash_style.css">
    @* <link rel="stylesheet" href="/assets/vendor_assets/css/slick.css"> *@
    @* <link rel="stylesheet" href="/assets/vendor_assets/css/select2.min.css"> *@
    @* <link rel="stylesheet" href="/assets/vendor_assets/css/star-rating-svg.css"> *@
    @* <link rel="stylesheet" href="/assets/vendor_assets/css/daterangepicker.css"> *@
    @* <link rel="stylesheet" href="/assets/vendor_assets/css/footable.standalone.min.css"> *@
    @* <link rel="stylesheet" href="/assets/vendor_assets/css/fullcalendar@5.2.0.css"> *@
    @* <link rel="stylesheet" href="/assets/vendor_assets/css/jquery-jvectormap-2.0.5.css"> *@
    @* <link rel="stylesheet" href="/assets/vendor_assets/css/leaflet.css"> *@
    @* <link rel="stylesheet" href="/assets/vendor_assets/css/MarkerCluster.css"> *@
    @* <link rel="stylesheet" href="/assets/vendor_assets/css/MarkerCluster.Default.css"> *@
    @* <link rel="stylesheet" href="/assets/vendor_assets/css/trumbowyg.min.css"> *@
    @* <link rel="stylesheet" href="/assets/vendor_assets/css/wickedpicker.min.css"> *@

    <!-- Fonts -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="layout-light side-menu">

    <div class="mobile-search">
        <form action="/" class="search-form">
            <img src="/img/svg/search.svg" alt="search" class="svg">
            <input class="form-control me-sm-2 box-shadow-none" type="search" placeholder="Search..." aria-label="Search">
        </form>
    </div>

    <div class="mobile-author-actions">
    </div>

    <header class="header-top">
        <nav class="navbar navbar-light">
            
            <div class="navbar-left">
                <div class="logo-area">
                    <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                        <img class="dark" src="/images/logo.png" alt="logo" style="height: 2rem;" />
                        <img class="light" src="/images/logo.png" alt="logo" style="height: 2rem;"/>
                    </a>
                    <a href="#" class="sidebar-toggle">
                        <img class="svg" src="/img/svg/align-center-alt.svg" alt="img" />
                    </a>
                </div>

                <div class="top-menu">
                    <div class="hexadash-top-menu position-relative">
                        <partial name="TopMenu" />
                    </div>
                </div>
            </div>
            <!-- ends: navbar-left -->

            <div class="navbar-right">
                <ul class="navbar-right__menu">

                    <li class="nav-search">
                        <a href="#" class="search-toggle">
                            <i class="uil uil-search"></i>
                            <i class="uil uil-times"></i>
                        </a>
                        <form action="/" class="search-form-topMenu">
                            <span class="search-icon uil uil-search"></span>
                            <input class="form-control me-sm-2 box-shadow-none" type="search" placeholder="Search..." aria-label="Search">
                        </form>
                    </li>
                    
                    <li class="nav-notification">
                        <div class="dropdown-custom">
                            <a href="javascript:;" class="nav-item-toggle icon-active">
                                <img class="svg" src="/img/svg/alarm.svg" alt="img">
                            </a>
                            <div class="dropdown-parent-wrapper">
                                <div class="dropdown-wrapper">
                                    <h2 class="dropdown-wrapper__title">
                                        <span>Notifications</span>
                                        <span class="badge-circle badge-warning ms-1">2</span>
                                    </h2>
                                    <ul>
                                        <li class="nav-notification__single nav-notification__single--unread d-flex flex-wrap">
                                            <div class="nav-notification__type nav-notification__type--primary">
                                                <img class="svg" src="/img/svg/inbox.svg" alt="inbox">
                                            </div>
                                            <div class="nav-notification__details">
                                                <p>
                                                <a href="" class="subject stretched-link text-truncate" style="max-width: 180px;">James</a>
                                                <span>sent you a message</span>
                                                </p>
                                                <p>
                                                <span class="time-posted">5 hours ago</span>
                                                </p>
                                            </div>
                                        </li>

                                        <li class="nav-notification__single nav-notification__single--unread d-flex flex-wrap">
                                            <div class="nav-notification__type nav-notification__type--secondary">
                                                <img class="svg" src="/img/svg/upload.svg" alt="upload">
                                            </div>
                                            <div class="nav-notification__details">
                                                <p>
                                                <a href="" class="subject stretched-link text-truncate" style="max-width: 180px;">James</a>
                                                <span>sent you a message</span>
                                                </p>
                                                <p>
                                                <span class="time-posted">5 hours ago</span>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="" class="dropdown-wrapper__more">Mostrar todas las notificaciones</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ends: .nav-notification -->

                    <li class="nav-author">
                        <div class="dropdown-custom">
                            <a href="javascript:;" class="nav-item-toggle">
                                <img src="@User.FindFirst(ClaimTypes.Actor)?.Value" alt="User Picture" class="rounded-circle" />
                                <span class="nav-item__title">
                                    @User.FindFirst(ClaimTypes.Name)?.Value
                                    <i class="las la-angle-down nav-item__arrow"></i>
                                </span>
                            </a>
                            <div class="dropdown-parent-wrapper">
                                <div class="dropdown-wrapper">
                                    <div class="nav-author__info">
                                        <div class="author-img">
                                            <img src="@User.FindFirst(ClaimTypes.Actor)?.Value" alt="User Picture" class="rounded-circle">
                                        </div>
                                        <div>
                                            <h6 style="text-transform: capitalize;">@User.FindFirst(ClaimTypes.Name)?.Value</h6>
                                            <span>{{Job Position}}</span>
                                        </div>
                                    </div>
                                    <div class="nav-author__options">
                                        <ul>
                                            <li>
                                                <a href="">
                                                <i class="uil uil-user"></i> Profile</a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="uil uil-setting"></i>
                                                    <span>Configuracion</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="" class="nav-author__signout">
                                            <i class="uil uil-sign-out-alt"></i>
                                            <span>Cerrar sesion</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ends: .nav-author -->
                </ul>
                <!-- ends: .navbar-right__menu -->

                <div class="navbar-right__mobileAction d-md-none">
                    <a href="#" class="btn-search">
                        <img src="/img/svg/search.svg" alt="search" class="svg feather-search">
                        <img src="/img/svg/x.svg" alt="x" class="svg feather-x">
                    </a>
                    <a href="#" class="btn-author-action">
                        <img class="svg" src="/img/svg/more-vertical.svg" alt="more-vertical">
                    </a>
                </div>
            </div>
            <!-- ends: .navbar-right -->
        </nav>
    </header>


    <main class="main-content">
        <div class="sidebar-wrapper">
            <div class="sidebar sidebar-collapse" id="sidebar">
                <partial name="SidebarMenu2" />
            </div>
        </div>

        <div class="contents">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </main>



    <div id="overlayer">
        <div class="loader-overlay">
            <div class="dm-spin-dots spin-lg">
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </div>
    </div>
    <div class="overlay-dark-sidebar"></div>
    <div class="customizer-overlay"></div>



    <!-- inject:js-->
    <script src="/assets/vendor_assets/js/jquery/jquery-3.5.1.min.js"></script>
    <script src="/assets/vendor_assets/js/jquery/jquery-ui.js"></script>
    <script src="/assets/vendor_assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/vendor_assets/js/moment/moment.min.js"></script>
    <script src="/assets/vendor_assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/vendor_assets/js/jquery.peity.min.js"></script>
    <script src="/assets/vendor_assets/js/loader.js"></script>
    <script src="/assets/vendor_assets/js/message.js"></script>
    <script src="/assets/vendor_assets/js/moment.js"></script>
    <script src="/assets/vendor_assets/js/muuri.min.js"></script>
    <script src="/assets/vendor_assets/js/notification.js"></script>
    <script src="/assets/vendor_assets/js/popover.js"></script>
    <script src="/assets/theme_assets/js/icon-loader.js"></script>
    @* <script src="/assets/theme_assets/js/main.js"></script> *@
    <script src="/js/layout.js"></script>
    @* <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBgYKHZB_QKKLWfIRaYPCadza3nhTAbv7c"></script> *@
    @* <script src="/assets/vendor_assets/js/slick.min.js"></script> *@
    @* <script src="/assets/vendor_assets/js/select2.full.min.js"></script> *@
    @* <script src="/assets/vendor_assets/js/jquery.countdown.min.js"></script> *@
    @* <script src="/assets/vendor_assets/js/jquery.star-rating-svg.min.js"></script> *@
    @* <script src="/assets/vendor_assets/js/bootstrap/popper.js"></script> *@
    @* <script src="/assets/vendor_assets/js/accordion.js"></script> *@
    @* <script src="/assets/vendor_assets/js/apexcharts.min.js"></script> *@
    @* <script src="/assets/vendor_assets/js/autoComplete.js"></script> *@
    @* <script src="/assets/vendor_assets/js/Chart.min.js"></script> *@
    @* <script src="/assets/vendor_assets/js/daterangepicker.js"></script> *@
    @* <script src="/assets/vendor_assets/js/drawer.js"></script> *@
    @* <script src="/assets/vendor_assets/js/dynamicBadge.js"></script> *@
    @* <script src="/assets/vendor_assets/js/dynamicCheckbox.js"></script> *@
    @* <script src="/assets/vendor_assets/js/footable.min.js"></script> *@
    @* <script src="/assets/vendor_assets/js/fullcalendar@5.2.0.js"></script> *@
    @* <script src="/assets/vendor_assets/js/google-chart.js"></script> *@
    @* <script src="/assets/vendor_assets/js/jquery-jvectormap-2.0.5.min.js"></script> *@
    @* <script src="/assets/vendor_assets/js/jquery-jvectormap-world-mill-en.js"></script> *@
    @* <script src="/assets/vendor_assets/js/jquery.filterizr.min.js"></script> *@
    @* <script src="/assets/vendor_assets/js/leaflet.js"></script> *@
    @* <script src="/assets/vendor_assets/js/leaflet.markercluster.js"></script> *@
    @* <script src="/assets/vendor_assets/js/trumbowyg.min.js"></script> *@
    @* <script src="/assets/vendor_assets/js/wickedpicker.min.js"></script> *@
    @* <script src="/assets/theme_assets/js/apexmain.js"></script> *@
    @* <script src="/assets/theme_assets/js/charts.js"></script> *@
    @* <script src="/assets/theme_assets/js/drag-drop.js"></script> *@
    @* <script src="/assets/theme_assets/js/footable.js"></script> *@
    @* <script src="/assets/theme_assets/js/full-calendar.js"></script> *@
    @* <script src="/assets/theme_assets/js/googlemap-init.js"></script> *@
    @* <script src="/assets/theme_assets/js/jvectormap-init.js"></script> *@
    @* <script src="/assets/theme_assets/js/leaflet-init.js"></script> *@
    <!-- endinject-->



    <!-- Old scripts-->
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    @* <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script> *@
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    @* <script src="/vendor/slimscroll/jquery.slimscroll.js"></script> *@
    @* <script src="/js/main-js.js"></script> *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
