@using System.Security.Claims
@{
    ICollection<dynamic> notifications = new List<dynamic>();
}
@functions{
    string GetAvatarSrc(){
        try{
            string[] arrayNames = User.FindFirst("name")!.Value.Split(" ");
            return string.Format("https://ui-avatars.com/api/?name={0}&color=333&rounded=true", string.Join("+", arrayNames!));
        }catch(Exception){
            return "";
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SicemOperation</title>

    <!-- Bootstrap CSS -->
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/vendor/fonts/fontawesome/css/fontawesome-all.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SicemOperation.styles.css" asp-append-version="true" />
    
</head>
<body>

    <div class="dashboard-main-wrapper">

        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <img src="/images/logo.png" alt="Logo" height="35" class="d-inline-block ml-2" />
                <a class="navbar-brand text-dark" style="font-size: 1.2rem;" href="/">Sicem Operation</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Buscar...">
                            </div>
                        </li>
                        <partial name="NotificationPanel" model="@notifications"/>
                        @* <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="/images/github.png" alt="" > <span>Github</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="/images/dribbble.png" alt="" > <span>Dribbble</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="/images/dropbox.png" alt="" > <span>Dropbox</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="/images/bitbucket.png" alt=""> <span>Bitbucket</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="/images/mail_chimp.png" alt="" ><span>Mail chimp</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="/images/slack.png" alt="" > <span>Slack</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li> *@
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="@GetAvatarSrc()" alt="User Avatar" class="user-avatar-md rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name text-uppercase">@User.FindFirst(ClaimTypes.Name)?.Value</h5>
                                    <span class="status"></span>
                                    <span class="ml-2">@User.FindFirstValue("Name")!.ToString()</span>
                                </div>
                                @* <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Cuenta</a> *@
                                @* <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a> *@
                                <a class="dropdown-item" asp-action="Logout" asp-controller="Auth">
                                    <i class="fas fa-power-off mr-2"></i>
                                    <span>Cerrar Session</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
        
        <partial name="SideBarMenu" />

        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="/js/main-js.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
